/*clearfix Olsen*/
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  display: inline-block;
}
/**/
/*\*/
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
/**/
/*end clearfix*/
* {
  color: #7d7d7d;
  font-size: 1em;
}
.hide {
  display: none !important;
}
header {
  background: #373737;
  height: 32px;
}
.searchbox {
  float: right;
  position: relative;
  padding: 0 0px;
}
.searchbox .search {
  border-radius: 6px;
  margin: 6px 0 0 0;
  border: none;
  padding: 0 25px 0 25px;
  background: #6e6e6e;
  color: #fff;
  display: inline-block;
  width: 120px;
  position: relative;
}
.searchbox .icon-search,
.searchbox .icon-remove-sign {
  position: relative;
  color: #fff;
  display: inline-block;
  z-index: 2;
}
.searchbox .icon-search {
  left: 23px;
}
.searchbox .icon-remove-sign {
  right: 23px;
}
.auth {
  float: left;
  position: relative;
}
.auth .signinButton,
.auth .revokeButton {
  cursor: pointer;
  display: none;
}
.auth .revokeButton {
  padding: 4px 10px;
  margin: 1px 0 0 1px;
  background: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
}
.content {
  margin: 0 5px;
}
nav.tab ul {
  padding: 0 0 0 20px;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 0;
}
nav.tab ul li {
  list-style-type: none;
  border: 1px solid #e2e2e2;
  border-bottom: none;
  display: block;
  color: #b4def1;
  position: relative;
  padding: 10px 11px;
  float: left;
  margin: 0 5px;
  top: 1px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  cursor: pointer;
}
nav.tab ul li.selected,
nav.tab ul li:hover {
  border-bottom: 1px solid #fff;
  z-index: 20;
  color: #006cdf;
}
.status {
  font-weight: bold;
  border-bottom: 1px solid #e2e2e2;
  position: relative;
  padding: 10px 5px 10px 25px;
}
.status .album_status .back {
  float: left;
  cursor: pointer;
  width: 20px;
  display: block;
}
.status .album_status .album_name:before {
  padding-right: 7px;
}
.status .album_status .file_name:before {
  content: "";
}
ul.listAlbum {
  padding: 0;
  margin: 0;
}
ul.listAlbum li {
  list-style-type: none;
  position: relative;
  background: #f6f6f6;
  border-bottom: 1px solid #e2e2e2;
  padding: 10px 0.8em;
  cursor: pointer;
}
ul.listAlbum li img {
  width: 80px;
  float: left;
}
ul.listAlbum li .info {
  padding: 5px 10px;
  margin: 0 0 0 9px;
  position: relative;
  float: left;
}
ul.listAlbum li .info h2 {
  font-size: 1em;
  margin: 0 0 10px 0;
  color: #006cdf;
}
ul.listAlbum li .info span:before {
  padding-right: 10px;
}
ul.listAlbum li .info span {
  font-size: 1em;
  margin: 0 0 10px 0;
  position: relative;
  display: block;
  font-size: 0.8em;
}
ul.listAlbum li .dar {
  font-size: 3em;
  color: #006cdf;
  position: absolute;
  margin: 15px 0 0 0;
  left: 90%;
}
ul.photosAlbum {
  margin: 5px;
  padding: 0;
}
ul.photosAlbum li {
  position: relative;
  float: left;
  margin: 4px;
}
ul.photosAlbum li img {
  width: 140px;
  border: 1px solid #e2e2e2;
  border-bottom: none;
  border-radius: 7px;
}
ul.photosAlbum li .controll * {
  color: #006cdf;
  margin-top: 1px;
}
ul.photosAlbum li .controll {
  background: #efefef;
  padding: 5px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  position: relative;
  width: 130px;
  margin-top: -10px;
  cursor: pointer;
  border: 1px solid #e2e2e2;
  border-top: none;
}
ul.photosAlbum li:hover> .controll .tooltip {
  display: block;
}
ul.photosAlbum li .controll a {
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
}
.tooltip * {
  color: #fff !important;
}
.tooltip {
  font-size: 0.8em;
  display: none;
  width: 27em;
  position: absolute;
  line-height: 20px;
  padding: 10px;
  text-align: center;
  background-color: #444;
  opacity: 0.9;
  border: 0px solid #fff;
  border-radius: 7px;
  text-shadow: rgba(0,0,0,0.098) 1px 1px 1px;
  box-shadow: rgba(0,0,0,0.098) 1px 1px 2px 0px;
  z-index: 3;
  left: 0;
  top: 40px;
}
.tooltip:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #444 transparent;
  top: -20px;
  left: 40px;
}
.tooltip .col-left {
  float: left;
  position: relative;
  width: 5em;
  text-align: left;
}
.tooltip .col-right {
  float: left;
  position: relative;
  width: 20em;
  text-align: left;
  padding: 0 5px 5px 5px;
}
.selectedPhoto img {
  width: 80%;
  margin: 20px 0 20px 10%;
  font-size: 0.8em;
}
@media only screen and (min-width: 1260px) {
  .selectedPhoto img {
    width: 800px;
  }
}
.selectedPhoto .info {
  margin: 0 20px 20px 20px;
}
.selectedPhoto td {
  padding: 0 0 5px 0px;
  vertical-align: top;
}
.selectedPhoto td:nth-child(odd) {
  width: 69px;
  font-weight: bold;
}
.selectedPhoto td:nth-child(even) {
  padding-left: 5px;
}
